<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

<div class="header">
    <a href="{{ url_for('bp.logout') }}" class="logout-button">登出</a>
    <a href="{{ url_for('bp.index') }}" class="home-button">返回首页</a>
</div>

<div class="cart-container">
    <h1>购物车</h1>
    
    {% if cart %}
        {% set total = 0 %}
        {% for item in cart %}
        {% set subtotal = item['Price'] * item['Quantity'] %}
        {% set total = total + subtotal %}

        <div class="cart-item">
            <img src="{{ item['ImagePath'] }}" alt="{{ item['ProductName'] }}">
            <div class="item-details">
                <h2>{{ item['ProductName'] }}</h2>
                <p>价格: ¥{{ item['Price'] }}</p>
                <p>数量: {{ item['Quantity'] }}</p>
                <p>小计: ¥{{ item['Price'] * item['Quantity'] }}</p>
            </div>
        </div>
        {% endfor %}
        <div class="cart-total">
            <h3>总计: ¥{{ total }}</h3>
            <button class="btn-checkout">结算</button>
        </div>
    {% else %}
        <p>你的购物车是空的。快去买点啥吧</p>
    {% endif %}
</div>

</body>
</html>
