<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="shortcut icon" href="../static/imgages/乐器.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/basket.css">
</head>
<body>

<div class="header">
    <a href="{{ url_for('bp.logout') }}" class="logout-button">登出</a>
    <a href="{{ url_for('bp.index') }}" class="home-button">返回首页</a>
</div>

<div class="cart-container">
    <h1>购物车</h1>
    
    <form id="cart-form" method="POST" >
        {% if cart %}
            {% for item in cart %}
                {% set subtotal = item['Price'] * item['Quantity'] %}
                {% set total_weight = item['ShippingWeight'] * item['Quantity'] %}

                <div class="cart-item">
                    <label class="custom-checkbox">
                        <input type="checkbox" class="checkbox-input">
                        <span class="checkbox-mark" id = "{{ item['ProductID'] }}"></span>
                    </label>
                        
                    <img src="{{ item['ImagePath'] }}" alt="{{ item['ProductName'] }}">
                    <div class="item-details">
                        <h2>{{ item['ProductName'] }}</h2>
                        <p>价格: ¥{{ item['Price'] }}</p>
                        <p>数量: {{ item['Quantity'] }}</p>
                        <p>重量: {{ item['ShippingWeight'] }} kg</p>
                        <p>小计: ¥{{ subtotal }}</p>
                        <p>总重: {{ total_weight }} kg</p>
                    </div>
                </div>                
            {% endfor %}
            <div class="cart-total">
                <h3>总计: ¥{{ total }}</h3>
                <h3>总重: {{ wholeweight }} kg</h3>
                <!-- 选择运输方式 -->
                <div class="shipping-method">
                    <label for="shipping">选择运输方式:</label>
                    <select name="shipping" id="shipping">
                        <option value="air">空运</option>
                        <option value="ground">陆运</option>
                    </select>
                </div>
                <button  type="button" class="btn-remove">移除选中商品</button>
                <button type="button" class="btn-empty">清空购物车</button>
                <button type="button" class="btn-submit">提交订单</button>
            </div>
        {% else %}
            <p>你的购物车是空的。快去买点啥吧</p>
        {% endif %}
    </form>
</div>
<script src="../static/js/basket.js"></script>
</body>
</html>
