<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ details['ProductName'] }} - 详情</title>
    <link rel="stylesheet" href="../static/css/details.css">
</head>
<body>

<div class="product-detail-container">
    <h1>{{ details['detailsName'] }}</h1>
    <img src="{{ details['ImagePath'] }}" alt="{{ details['ProductName'] }}">
    <p>价格: ¥{{ details['Price'] }}</p>
    <p>重量: {{ details['ShippingWeight'] }} kg</p>
    <p>{{ details['Description'] }}</p>
    <!-- <button class="btn-add-to-cart">添加到购物车</button> -->
    <div class="product-reviews">
        <h2>用户评论</h2>
        
        {% if reviews %}
            <ul class="review-list">
                {% for review in reviews %}
                    <li class="review-item">
                        <h3>{{ review['username'] }}</h3>
                        <p>{{ review['ReviewText'] }}</p>
                        <p class="review-date">{{ review['ReviewDate'] }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>目前还没有评论。</p>
        {% endif %}
    </div>
    <a href="{{ url_for('bp.index') }}">返回首页</a>
</div>


</body>
</html>
