<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ details['ProductName'] }} - 详情</title>
    <link rel="stylesheet" href="../static/css/details.css">
</head>
<body>

<div class="product-detail-container">
    <h1>{{ details['detailsName'] }}</h1>
    <img src="{{ details['ImagePath'] }}" alt="{{ details['ProductName'] }}">
    <p>价格: ¥{{ details['Price'] }}</p>
    <p>重量: {{ details['ShippingWeight'] }} kg</p>
    <p>{{ details['Description'] }}</p>
    <!-- <button class="btn-add-to-cart">添加到购物车</button> -->
    <a href="{{ url_for('bp.index') }}">返回首页</a>
</div>

</body>
</html>
