<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Instrument Purchase System - Login</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/auth.css">
<link rel="shortcut icon" href="../static/imgages/乐器.png" type="image/x-icon">
</head>
<body>

<div class="container">
    <div class="logo"><i class="fas fa-guitar"></i></div> <!-- 使用乐器图标 -->
    <h2>Instrument Purchase System</h2> <!-- 添加标题 -->
    <form action="/login" method="post">
        <div class="form-group">
            <input type="text" name="username" placeholder="Username">
            <i class="fas fa-user"></i>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password">
            <i class="fas fa-lock"></i>
        </div>
        <input type="submit" value="Login" class="btn">
    </form>
    <div class="error-msg">{{ error_msg }}</div>
</div>

</body>
</html>
